
/* hides the rotational warning when the screen is in landscape mode */
@media screen and (orientation:landscape) {
    #portrait_warning {
        display: none;
    }
}

.debug {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 10%;
    height: 5%;
    background-color: darkgrey;
    border: black;
    z-index: 1000;
    display: block;
}

header {
    background-color: #151f2f;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 0 8px #1f477d;
    position: fixed center;
    width: 100%;
    height: 10%;
    z-index: 500;
    padding: 2px auto;
    display: block;
    justify-content: center;
    opacity: 80%;
}

body {
    margin: 0px;
    overflow: hidden;
}

/*----------------------------------------------------------------------*/

/* Logo & UI Buttons */

.logo {
    background: url(images/logo_whitetext.png) no-repeat;
	background-size: contain;
	background-position: center;
    width:100%;
    height:100%;
    clear:both;
    z-index: 1500;
}

.sizeButtons {
    position: fixed;
    left: 50%;
    bottom: 5%;
    width: 50em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    float: left;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.petalOrientButtons {
    position: fixed;
    left: 50%;
    bottom: 5%;
    width: 50em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    float: left;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.leafFusionButtons {
    position: fixed;
    left: 50%;
    bottom: 5%;
    width: 50em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    float: left;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.flowerOrientButtons {
    position: fixed;
    left: 50%;
    bottom: 5%;
    width: 50em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    float: left;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.colorButtons {
    position: fixed;
    left: 50%;
    bottom: 5%;
    width: 50em;
    height: 5em;
    display: grid;
    grid-template-columns: 5em 5em 5em 5em;
    grid-row-gap: 1em;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    float: left;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/* ---------------------------- Size Buttons --------------------------------------------- */

.small-scale-button {
    border-radius: 6px;
    border: black;
    background:url('images/size_buttons/small.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

.medium-scale-button {
    border-radius: 6px;
    border: black;
    background:url('images/size_buttons/medium.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

.large-scale-button {
    border-radius: 6px;
    border: black;
    background:url('images/size_buttons/large.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

/* ---------------------------- Petal Orientation Buttons --------------------------------------------- */

.radial-button {
    border-radius: 6px;
    border: black;
    background:url('images/petal_orient_buttons/radial.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

.two21-button {
    border-radius: 6px;
    border: black;
    background:url('images/petal_orient_buttons/2-2-1.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

.four1-button {
    border-radius: 6px;
    border: black;
    background:url('images/petal_orient_buttons/4-1.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

/* ---------------------------- Flower Orientation Buttons --------------------------------------------- */

.pendulus-button {
    border-radius: 6px;
    border: black;
    background:url('images/flower_orient_buttons/pendulus.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

.upright-button {
    border-radius: 6px;
    border: black;
    background:url('images/flower_orient_buttons/upright.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

/* ---------------------------- Leaf Fusion Buttons --------------------------------------------- */

.fused-button {
    border-radius: 6px;
    border: black;
    background:url('images/leaf_fusion_buttons/fused.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

.unfused-button {
    border-radius: 6px;
    border: black;
    background:url('images/leaf_fusion_buttons/unfused.png');
    background-size: cover;
    color: black;
    width: 8em;
    height: 8em;
    margin-left: 2em;
}

/* ---------------------------- Color Buttons --------------------------------------------- */

.white-button {
    border-radius: 6px;
    border: black;
    background:url('images/color_buttons/white.png');
    background-size: cover;
    color: black;
    width: 6em;
    height: 6em;
    margin-left: 1em;
}

.yellow-button {
    border-radius: 6px;
    border: black;
    background:url('images/color_buttons/yellow.png');
    background-size: cover;
    color: black;
    width: 6em;
    height: 6em;
    margin-left: 1em;
}

.orange-button {
    border-radius: 6px;
    border: black;
    background:url('images/color_buttons/orange.png');
    background-size: cover;
    color: black;
    width: 6em;
    height: 6em;
    margin-left: 1em;
}

.pink-button {
    border-radius: 6px;
    border: black;
    background:url('images/color_buttons/pink.png');
    background-size: cover;
    color: black;
    width: 6em;
    height: 6em;
    margin-left: 1em;
}

.red-button {
    border-radius: 6px;
    border: black;
    background:url('images/color_buttons/red.png');
    background-size: cover;
    color: black;
    width: 6em;
    height: 6em;
    margin-left: 1em;
}

.purple-button {
    border-radius: 6px;
    border: black;
    background:url('images/color_buttons/purple.png');
    background-size: cover;
    color: black;
    width: 6em;
    height: 6em;
    margin-left: 1em;
}

.blue-button {
    border-radius: 6px;
    border: black;
    background:url('images/color_buttons/blue.png');
    background-size: cover;
    color: black;
    width: 6em;
    height: 6em;
    margin-left: 1em;
}

.green-button {
    border-radius: 6px;
    border: black;
    background:url('images/color_buttons/green.png');
    background-size: cover;
    color: black;
    width: 6em;
    height: 6em;
    margin-left: 1em;
}